@charset "UTF-8";


h2.h2 {
    font-size: 30px;
	
}

* {
	font-size: 16px;
	box-sizing: border-box;
}

body { 	
	width: 100%;
	height: 800px;
	margin: 0;
}

.wrap {
	display: flex;
}

.wrap section {
	display: block;
}

.nav_section {
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 700px;
}

.content_section {
	width: 80%;
	height: 100%;
	background: #fbfbfb;
	padding: 40px;
	padding-top: 0;
	margin: 0 0 0 240px;
}




.content_wrap{
	display: flex;
    justify-content: center;
}

.content {
	margin: 25px 50px;
}
.nav * {
	list-style: none;
}

.nav_list a {
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

.content_wrap {
	display: block;
	width: 100%;
	height: 80%;
}

.content {
	width: 100%;
	height: 100%;
	z-index: 10;
}

.content_hedear_wrap {
	display: block;
	width: 100%;

    height: 40px;
    padding: 25px 20px;
    display: inline-flex;
    align-items: center;
    
	margin-top: 90px;
   
}



.content_header {
    margin: 30px auto;
	
}

.header_title {
    display: inline-block;
    width: 700px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 15px 0px;
    text-align: center;
    font-size: 30px;
	font-weight: 700;
}
.header_title input{

	font-size: 14px;

}

.content_wrap{
	display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f9ca24;
	border-radius: 3px;
	height: 20%;
}
