body {
	
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
.content_section{
	padding:30px;
    width: 1300px;
    margin: 0 auto;


}
div.content_hedear_wrap{
	width: 700px;
	margin: 0 auto;
	border: none;
	
}

.modify-mg{

	display: inline-block;
	width:100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 15px 0px;
    text-align: center;
    font-size: 14px;


}

.content{

   
    

}

.content .board_wrap{
	width:100%;
	margin : 0px;
	padding-bottom:30px;
}



.board_search_wrap {
	width: 100%;
}

.board_search_wrap-view {
	width: 100%;
	/* display: inline-flex; */
	/* float: right; */
	display: table;
	margin-bottom: 20px;
}

.board_search_wrap ul li {
	diplay: inline-block;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.input_select_wrap select {
	height: 100%;
	padding: 5px 15px !important;
	padding-right: 20px;
	color: #1c1c1b;
	box-shadow: 0px 0px 0px 1px #ddd;
	outline: none;
	border-radius: 4px;
	background: #fff;
	transition: all 0.15s;
}

.board_search_select div {
	display: inline-block;
	margin-left: 3px;
}

.board_ul {
	
    margin-bottom: 10px;
    clear:both;
	
}

ul.board_ul>li {
	display: inline-block;
}

.grant_wrap{
    margin-top: 30px;
    float:right
}
div.bt_wrap {
	display: inline-flex;
	
}

.bt_wrap {
	margin-left: 10px;
	text-align: center;
	font-size: 0;
}

.bt_wrap a {
	display: inline-block;
	min-width: 80px;
	margin-left: 5px;
	padding: 12px;
	border-radius: 4px;
	font-size: 1.4rem;
	border: 1px black solid;
}

.bt_wrap a:first-child {
	margin-left: 0;
}

.bt_wrap a.on {
	background: #f9ca24;
	color: #fff;
	border: 1px #f9ca24 solid;
	border-radius: 4px;
}

.input_text_wrap label input {
	height: 100%;
	padding: 5px 15px !important;
	color: #1c1c1b;
	box-shadow: 0px 0px 0px 1px #ddd;
	outline: none;
	border-radius: 4px;
	background: #fff;
	transition: all 0.15s;
}

.input_wrap2 {
	height: 45px !important;
}

.modify-mg {
    margin: 30px auto;
}


.btn_design { 
	font-size: 16px;
    letter-spacing: -.3px;
    overflow: hidden;
    width: 15%;
    padding: 8px 6px 7px;
    border-radius: 6px;
    background-color: #ecf0f1;
    font-weight: 500;
    color: #2f3640;
}

.btn_design:hover { 
	font-size: 16px;
    letter-spacing: -.3px;
    overflow: hidden;
    width: 15%;
    padding: 8px 6px 7px;
    border-radius: 6px;
    background-color: #f9ca24;
    font-weight: 500;
    color: #fff;
}

.board_list {
	width: 100%;
	border-top: 2px solid #000;
	background: white;
}

.board_list>div {
	border-bottom: 1px solid #ddd;
	font-size: 0;
}

.board_list>div.top {
	border-bottom: 1px solid #999;
}

.board_list>div:last-child {
	border-bottom: 1px solid #000;
}

.board_list>div>div {
	display: inline-block;
	padding: 15px 0;
	text-align: center;
	font-size: 1.4rem;
}

.board_list>div.top>div {
	font-weight: 600;
}

.board_list .num {
	width: 10%;
}



.board_list>*>*{
    width:23%;
}



.board_list .check {
	width: 5%;
}

.board_list .id {
	width: 10%;
}
.board_list .name {
	width: 10%;
}
.board_list .grant {
	width: 5%;
}

.board_page {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}

.board_page a {
    background: #fff;
	display: inline-block;
	width: 40px;
	height: 35px;
	box-sizing: border-box;
	vertical-align: middle;
	border: 1px solid #ddd;
	line-height: 100%;
	border-radius: 4px;
}

.board_page a.bt {
	padding-top: 10px;
	font-size: 1.2rem;
	letter-spacing: -1px;
}

.board_page a.num {
	padding-top: 9px;
	font-size: 1.4rem;
	margin-left: 3px;
}

.board_page a.num.on {
	/*    border-color: #000; */
	background: #f9ca24;
	color: #fff;
}

.board_page a:first-child {
	border-left: 1px solid #ddd;
}

#frm2 [type="checkbox"] {
	appearance: none;
	width: 16px !important;
	height: 16px;
	box-sizing: border-box;
	border: 1px solid #afafaf;
	border-radius: 3px;
}

#frm2 [type="checkbox"]:focus {
	border: 1px solid black;
	outline: 1px;
}

#frm2 [type="checkbox"]:checked {
	background:url(https://icon-icons.com/icons2/930/PNG/48/check_icon-icons.com_72363.png);
	background-color: #f9ca24;
	background-size: cover;
}

#frm2 input[type='checkbox']:focus {
	outline: 1;
}

